body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#messages {
  list-style-type: none;
  padding: 0;
}

#messages li {
  padding: 8px;
  background: #f4f4f4;
  margin: 5px;
  border-radius: 5px;
}
