body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  background: white;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 298px;
}

textarea {
  width: 98%;
  height: 98%;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

p {
  font-size: 16px;
  margin: 4px 0;
}
